[Desktop Entry]
Encoding=UTF-8
Name=GXedit
Comment=Text editor
Comment[es]=Editor de texto
Comment[fr]=Editeur de texte
Comment[nb]=Tekstredigering
Comment[pl]=Edytor tekstu
Comment[pt]=Editor de texto
Comment[pt_BR]=Editor de texto
Exec=gxedit
Icon=gnome-note.png
Terminal=false
Type=Application
Categories=GTK;TextEditor;
# vi: encoding=utf-8
